html, body {
  background: #111;
  color: #EEE;
  font-family: monospace;
  font-size: larger;
}

.tile {
  display: inline-block;
  opacity: 0;
}


.wall {
  color: #888;
}

.ground {
  color: #555;
}

.player {
  color: yellow;
}

.game {
  display: flex;
}

.log {
  margin: 20px;
}

.seen {
  opacity: 0.3;
}

.visible {
  opacity: 1;
}
